footer#site-footer.is-dark
	.l-footer
		p.is-text-white.
			Вся представленная на сайте информация, касающаяся технических характеристик, наличия на складе, стоимости, аксессуаров, носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437(2) Гражданского кодекса Российской Федерации. Для получения подробной информации, пожалуйста, обращайтесь в компанию гудпечать.

		p.is-text-white.is-text-center.
			Copyright © 2017 гудпечать.рф.