//Site header
header#site-header.stamp-bg
	.wrapper
		.logo
			a(href="index.html")
				img.main-logo(src='img/assets/logo.svg' alt='Пролетарка')
				img.sub-logo(src='img/assets/operativ-pechat.svg' alt='Оперативная печать')

		.contacts
			.top-contacts
				a(href='tel:+79684335358') <i class="phone"></i> +7 (968) 433-53-58

				a(href='tel:+74951236553') +7 (495) 123-6553</br>
				
				a(href='mailto:proletarka2004@yandex.ru') <i class="email"></i> proletarka2004@yandex.ru

				a(href='#') <i class="address"></i> ул. 1-я Дубровская, д.1,корп. 2
	include top-nav