//Site header
header#site-header.is-dark
	.container
		.hero
				img(src="../img/assets/logo.svg" alt="logo").hero__img
	.hor-contacts
		a(href='#') <span> svg(viewBox="0 0 100 100" class="icon point")
			use(xlink:href="#point") </span> ул. 1-я Дубровская, д. 1, корп. 2

		a(href='tel:+79684335358') <i class="phone"></i> +7 (495) 123-6553; +7 (968) 433-53-58
		a(href='mailto:proletarka2004@yandex.ru') <i class="email"></i> proletarka2004@yandex.ru
		//.hor-nav
		//	each val in ['Печати','Штампы', 'Пломбиры', 'Визитки', 'Самокопирка', 'Открытки/Брошюры', 'Таблички']
		//		a.hor-nav__link= val
