#site-main
	.l-info
		.name
			img(src="../img/assets/icons/stamp.svg" alt="Печати и штампы")
		.content
			.content-text
				p.
					<b>Печать за час при помощи полимерной технологии.</b>
				p.
					<b>Долгосрочная печать на резине методом лазерной гравировки.</b>
				p.
					Печать (штамп) комплектуется стандартной пластиковой (деревянной) оснасткой.
					Так же на выбор имеются автоматические и карманные металлические оснастки, которые удобно носить с собой.
			.content-img
				img(src="../img/assets/section-stamp.png" alt="stamp")

	.l-sub-nav
		ul.sub-nav.underline
			li.is-current 
				a(href="#tab1") Цифровая печать
			li 
				a(href="#tab2") Офсетная
			li 
				a(href="#tab3") Шелкография

	.l-showcase#tab1
		.header
			h2 По оттиску:
		.content
			table.card-price
				thead
					tr 
						th(colspan="2") Печать
				tbody
					tr.sub-header
						td Полимер
						td Резина
					tr.time
						td(colspan="2") 1 час
					tr.cost
						td 900
						td -
					tr.time
						td(colspan="2") 4 часа
					tr.cost
						td 700
						td -
					tr.time
						td(colspan="2") сутки
					tr.cost
						td 600
						td 800
					tr.time
						td(colspan="2") 2 суток
					tr.cost
						td 500
						td 700

			table.card-price
				thead
					tr 
						th(colspan="2") Штамп до 9х6см
				tbody
					tr.sub-header
						td Полимер
						td Резина
					tr.time
						td(colspan="2") 1 час
					tr.cost
						td 900
						td -
					tr.time
						td(colspan="2") 4 часа
					tr.cost
						td 700
						td -
					tr.time
						td(colspan="2") сутки
					tr.cost
						td 600
						td 850
					tr.time
						td(colspan="2") 2 суток
					tr.cost
						td 500
						td 750

			table.card-price
				thead
					tr 
						th(colspan="2") Штамп от 9х6см
				tbody
					tr.sub-header
						td Полимер
						td Резина
					tr.time
						td(colspan="2") 1 час
					tr.cost
						td 900
						td -
					tr.time
						td(colspan="2") 4 часа
					tr.cost
						td 700
						td -
					tr.time
						td(colspan="2") сутки
					tr.cost
						td 600
						td 850
					tr.time
						td(colspan="2") 2 суток
					tr.cost
						td 500
						td 750

	.l-showcase#tab2.is-hide
		.header
			h2 По Эскизу:
		.content
			table.card-price
				thead
					tr 
						th(colspan="2") Печать
				tbody
					tr.sub-header
						td Полимер
						td Резина
					tr.time
						td(colspan="2") 1 час
					tr.cost
						td 600
						td -
					tr.time
						td(colspan="2") 4 часа
					tr.cost
						td 500
						td -
					tr.time
						td(colspan="2") сутки
					tr.cost
						td 400
						td 600
					tr.time
						td(colspan="2") 2 суток
					tr.cost
						td 350
						td 500

			table.card-price
				thead
					tr 
						th(colspan="2") Штамп до 9х6см
				tbody
					tr.sub-header
						td Полимер
						td Резина
					tr.time
						td(colspan="2") 1 час
					tr.cost
						td 600
						td -
					tr.time
						td(colspan="2") 4 часа
					tr.cost
						td 500
						td -
					tr.time
						td(colspan="2") сутки
					tr.cost
						td 400
						td 600
					tr.time
						td(colspan="2") 2 суток
					tr.cost
						td 350
						td 500

			table.card-price
				thead
					tr 
						th(colspan="2") Штамп от 9х6см
				tbody
					tr.sub-header
						td Полимер
						td Резина
					tr.time
						td(colspan="2") 1 час
					tr.cost
						td 600
						td -
					tr.time
						td(colspan="2") 4 часа
					tr.cost
						td 500
						td -
					tr.time
						td(colspan="2") сутки
					tr.cost
						td 400
						td 600
					tr.time
						td(colspan="2") 2 суток
					tr.cost
						td 350
						td 500

	.docs-link
		a(href="#") Документы для запроса на изготовление печатей и штампов

	.l-img-full
		h2 Образцы:
		img(src="img/assets/stamps.jpg" alt="образцы")

	.l-info
		.content
			.content-text
				h2 Мы используем оснастки фирмы Trodat
				p.
					Полный перечень доступнх размеров и вариантов можно посмотреть <a href="#">в файле PDF</a> или уточнить у нас.
			.content-img
					img(src="../img/assets/trodat-pic.png" alt="trodat stamp")