.l-showcase
	.header
		h2 По оттиску:
	.content
		table.card-price
			thead
				tr 
					th(colspan="2") Печать
			tbody
				tr.sub-header
					td Полимер
					td Резина
				tr.time
					td(colspan="2") 1 час
				tr.cost
					td 600
					td -
				tr.time
					td(colspan="2") 4 часа
				tr.cost
					td 550
					td -
				tr.time
					td(colspan="2") сутки
				tr.cost
					td 400
					td 600
				tr.time
					td(colspan="2") 2 суток
				tr.cost
					td 350
					td 500

		table.card-price
			thead
				tr 
					th(colspan="2") Штамп до 9х6см
			tbody
				tr.sub-header
					td Полимер
					td Резина
				tr.time
					td(colspan="2") 1 час
				tr.cost
					td 600
					td -
				tr.time
					td(colspan="2") 4 часа
				tr.cost
					td 550
					td -
				tr.time
					td(colspan="2") сутки
				tr.cost
					td 400
					td 600
				tr.time
					td(colspan="2") 2 суток
				tr.cost
					td 350
					td 500

		table.card-price
			thead
				tr 
					th(colspan="2") Штамп от 9х6см
			tbody
				tr.sub-header
					td Полимер
					td Резина
				tr.time
					td(colspan="2") 1 час
				tr.cost
					td 600
					td -
				tr.time
					td(colspan="2") 4 часа
				tr.cost
					td 550
					td -
				tr.time
					td(colspan="2") сутки
				tr.cost
					td 400
					td 600
				tr.time
					td(colspan="2") 2 суток
				tr.cost
					td 350
					td 500

	.docs-link
		a(href="") Документы для запроса на изготовление печатей и штампов