nav
	ul.header-nav.underline
		li
			a(href="stamp.html") Печати и Штампы
		li
			a(href="#") Визитки
		li
			a(href="#") Пломбиры и Пломбираторы
		li
			a(href="#") Самокопирка
		li
			a(href="#") Таблички
		li
			a(href="#") Буклеты
		li
			a(href="#") Открытки
		li
			a(href="#") Доставка