.wrapper {
  @include container();
}

#site-header {
  position: relative;
  @include container($container-width);
  height: rem-calc(680px);
  background-image: url("../img/assets/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
}

#site-footer {
  padding: 2.5rem 0;
}

.container {
  @include container($container-width);
  @include susy-clearfix;
}

.l-card-holder {
  margin: 2.5rem 0;
  @include container($container-width);
}

.l-fidback {
  padding: 5rem 0;
  box-shadow: 2px 2px 5px rgba(0,0,0,.4);
}

.l-footer {
  text-align: justify;
  font-size: .8em;
}