//actions
.is-hide {
  display: none;
}

.is-show {
  display: block;
}


// content backgrounds

.is-white-bg {
  background-color: $white;
}

.is-light-gray-bg {
  background-color: $light-gray;
}

.is-black-bg {
  background-color: $dark-black;
}

.is-black-trans {
  background-color: rgba(0, 0, 0, 1);
}

.is-dust {
  background-image: url("../img/assets/noise.png");
}

.is-light {
  background-color: $fifth-color;
}

.is-dark {
  background-color: $primary-color;
}

.is-dark-grad {
  background-color: $primary-color;
}

.is-hide {
  display: none;
}

//text decorations
.is-accent {
  font-weight: 700;
}

.is-text-white {
  color: $white;
}

.is-text-center {
  text-align: center;
}



@include susy-breakpoint($b-medium, 12) {
  .is-black-trans {
    background-color: rgba(0, 0, 0, .65);
  }

  .is-dark-grad {
    background-image: linear-gradient(-45deg, rgb(252, 250, 237) 0%,
            rgb(252, 250, 237) 10%, rgb(191, 57, 42) 10%, rgb(191, 57, 42) 90%, rgb(252, 250, 237) 90%, rgb(252, 250, 237) 100%);
  }
}