.adress {
  background-color: $white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__map {
  }
}

.office-adress__item {
  h4 {
    color: $primary-color;
    font-weight: 400;
    font-size: .9em;
  }
  li a {
    color: $medium-gray;
    font-size: .8em;
    i {
      color: $primary-color;
    }
  }
}

//mod for contacts page
.office-adress__item__black {
  padding-left: 1.5em;
  margin: 1.5em 0;
  h2 {
    margin: 1.5em 0;
    color: $black;
  }
  li a {
    color: black;
    font-size: .8em;
    i {
      color: $primary-color;
    }
  }
}

@include susy-breakpoint($b-small, 12) {

}

@include susy-breakpoint($b-medium, 12) {

  .adress {
    @include container($container-width);
    margin-bottom: 1em;
    &__header {
      margin: 1.5em 0;
    }
    &__map {
      @include span(6);
    }
  }

  .office-adress__block {
    @include span(4);
    &:last-child {
      @include last;
    }
  }


}

@include susy-breakpoint($b-large, 12) {

}