.article__hgroup {
  margin-bottom: 3.5em;
  ::after {
    content: "";
    display: block;
    margin-top: 1em;
    border-bottom: 2px solid $primary-color;
  }
}

.article__content {
  text-align: justify;
  ul {
    li {
      margin-bottom: 1.5em;
      &::before {
        content: "∙ ";
        font-weight: 700;
      }
    }
  }
}

@include susy-breakpoint($b-small, 12) {

}

@include susy-breakpoint($b-medium, 12) {
  .container__article {
    padding: 3em;
  }

}

@include susy-breakpoint($b-large, 12) {
  .article-side {
    @include span(5);
    @include push(6);
  }
}