//footer

.footer-header {
  color: $medium-gray;
  font-weight: 400;
  &::after {
    content: '';
    display: block;
    height: 2px;
    border-bottom: 1px solid darken($primary-color, 20%);
    width: 150px;
    padding-top: .5em;
  }
}

.footer-nav {
  .vert-nav__anchor {
    color: $medium-gray;
  }
}

//footer terms and conditions
.terms__header {
  color: $medium-gray;
  font-weight: 400;
  padding-bottom: 1em;
}

.terms__content {
  font-size: .7em;
  text-align: justify;
}

@include susy-breakpoint($b-small, 12) {

}

@include susy-breakpoint($b-medium, 12) {

  .footer__nav {
    display: none;
  }

  .terms__header {
    text-align: center;
  }

  .terms__content {
    padding: 1em;
    @include span(10);
    @include push(1);
  }
}

@include susy-breakpoint($b-large, 12) {

  .footer-header {
    &::after {
      width: 90%;
    }
  }

  .footer__nav {
    @include span(3);
  }

  .footer__office-address {
    @include span(9 last);
  }

  .footer__nav {
    display: block;
    @include span(3);
  }
}