.hor-nav {
  text-transform: uppercase;
  text-align: center;
  &__item {
    display: block;

  }
  &__anchor {
    display: block;
    padding: 5px 10px;
  }
}

@include susy-breakpoint($b-small, 12) {
  .hor-nav {
    &__anchor {
      padding: .5em;
    }
    &__anchor {
      color: $secondary-color;
    }
  }
}

@include susy-breakpoint($b-medium, 12) {
  .hor-nav {
    text-align: right;
    &__item {
      display: inline-block;
    }
  }
}

//
//
//
//
////top bar hor nav
//.hor-nav {
//  &__anchor {
//    display: block;
//    padding: 5px 10px;
//  }
//}
//
//.top-nav {
//  &__item {
//  }
//  text-transform: uppercase;
//  a {
//    color: $secondary-color;
//  }
//}
//
//.index-nav {
//  a {
//    color: $white;
//  }
//}
//
//.vert-nav {
//  &__anchor {
//    color: $light-gray;
//    font-size: 0.9em;
//  }
//}
//
//
//
//
//@include susy-breakpoint($b-small, 12) {
//  .hor-nav {
//    &__item {
//      margin-top: 1em;
//    }
//    a {
//      color: $white;
//    }
//  }
//}
//
//@include susy-breakpoint($b-medium) {
//  .hor-nav {
//    a {
//      color: $secondary-color;
//    }
//  }
//  .index-nav {
//    a {
//      color: $white;
//    }
//  }
//  //top bar hor nav
//  .hor-nav {
//    &__item {
//      display: inline-block;
//      margin-top: 0;
//      &:last-child {
//        border-right: none;
//      }
//    }
//    &__anchor {
//      font-size: .8em;
//    }
//  }
//
//  .index-nav {
//    li {
//      border-right: 1px solid rgba(255, 255, 255, .2);
//    }
//  }
//
//}
//
//@include susy-breakpoint($b-large) {
//  //top bar hor nav
//  .hor-nav {
//    &__anchor {
//      font-size: .9em;
//    }
//  }
//}