.is-hide {
  display: none;
}

.is-show {
  display: block;
}

//class for hero slider
.is-showing {
  opacity: 1;
  z-index: 2;
}

.is-black {
  background-color: $dark-black;
}


.is-black-trans {
  background-color: rgba(0,0,0,1);
}

.is-white {
  background-color: $white;
}

.is-text-white {
  color: $white;
}

.is-accent {
  font-weight: 700;
}

@include susy-breakpoint($b-medium, 12) {
  .is-black-trans {
    background-color: rgba(0,0,0,.65);
  }
}