doctype html
html
	head
		title Офис оперативной печати на Пролетарской
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Merriweather:400|Roboto:300,300i,400,400i,500,500i,700,700i&subset=cyrillic")
		link(rel="stylesheet" href="style/main.min.css")
	body
	.container
		.l-card-holder
				// iteration cards / array with card name - discription - imgSrc - link to page
				-
					var catVar = [
					['Печати','Изготовление печатей и штампов из полимера и резины.','gal-stamp.svg','stamp'],
					['Штампы','Изготовление штампов из полимера и резины.', 'gal-stamp2.svg'],
					['Визитки','Цифровая и офсетная печати, шелкография, тиснение, конгрев.', 'gal-vis.svg'],
					['Пломбиры','Гравировка на меттале','gal-plombir.svg'],
					['Пломбираторы','Односторонние и двухсторонние','gal-plombirator.svg'],
					['Самокопирка','Двух и трехслойная, офсетная печать.', 'gal-samokopirka.svg'],
					['Открытки и Брошюры','Изготовление от одной штуки.', 'gal-otkritki.svg'],
					['Таблички','Графировка на пластике, накатка на пластик.', 'gal-tables.svg'],
					['Доставка','по Москве', 'gal-delivery.svg']];

				//print cards
				- for (var i=0; i < catVar.length; i++) {var catItem = catVar[i];

				a(href=catItem[3] + ".html").cat-card
					.div
						//img.cat-card__img(src="../img/assets/" + catItem[2])
						.cat-card__text
							p #{catItem[0]}
							p #{catItem[1]}
				- };