.cat-card {
  position: relative;
  overflow: hidden;
  margin-bottom: gutter(12);
  &:last-child {
    margin-bottom: 0;
  }
  height: 350px;
  background-color: $white;
}

.cat-card__text {
  & h2 {
    color: $white;
  }
  color: $white;
  position: absolute;
  margin: 0 2em;
  top: 8em;
}

.cat-card__img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@include susy-breakpoint($b-medium) {
  .cat-card {
    @include gallery(6);
  }
}

@include susy-breakpoint($b-large) {
  .cat-card {
    @include gallery(4);
  }
}