.cat-card {
  @include span(1 of 1);
  position: relative;
  overflow: hidden;
  margin-bottom: gutter(12);
  border: solid rem-calc(5px) $light-gray;
  &:last-child {
    margin-bottom: 0;
  }
  height: 10rem;
  background-color: $light-gray;
  color: $black;
  &:hover {
    background-color: $white;
    color: $primary-color;
  }
  transition: all .2s ease-in-out;
}

.cat-card__text {
  & p:first-child {
    font-size: 1.75rem;
    font-family: $second-font-family;
    margin: 0 auto;
  }
  position: absolute;
  margin: 0 2em;
  top: 1rem;
}

.cat-card__img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@include susy-breakpoint($b-medium) {
  .cat-card {
    height: 21.875rem;
    @include gallery(6 of 12);
  }
  .cat-card__text {
    top: 7rem;
  }
}

@include susy-breakpoint($b-large) {
  .cat-card {
    @include gallery(4 of 12);
  }
}



.gallery {
  @include susy-clearfix;
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.gallery-item {
  @include gallery (4 of 12);
  height: 10rem;
  background-color: green;
}




