.contacts {
	& a {
		color: $black;
	}
}

.top-contacts {
	margin-top: 2rem;
	& a {
		display: block;
		line-height: 3;  
		padding-right: 1rem;
		padding-left: 2rem;
	}
	& .phone::before {
		content: "";
		display: inline-block;
		width: rem-calc(13px);
		height: rem-calc(10px);
		margin-right: rem-calc(10px);
		background-image: url("../img/assets/icons/phone.svg");
		background-repeat: no-repeat;
		background-position: 0 -1px;
	}
	& .email::before {
		content: "";
		display: inline-block;
		width: rem-calc(13px);
		height: rem-calc(10px);
		margin-right: rem-calc(10px);
		background-image: url("../img/assets/icons/envelop.svg");
		background-repeat: no-repeat;

	}
	& .address::before {
		content: "";
		display: inline-block;
		width: rem-calc(13px);
		height: rem-calc(16px);
		margin-right: rem-calc(10px);
		background-image: url("../img/assets/icons/point.svg");
		background-repeat: no-repeat;

	}
}

.hor-contacts {
	text-align: center;
	line-height: 3.5;
	background-color: white;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	& a {
		display: inline-block;
		color: $primary-color;
		font-weight: bold;
		padding: 0 2em;
		font-size: .9em;
	}
}

@include susy-breakpoint($b-medium) {
	.top-contacts {
		@include span(7 last);
		margin-top: 5rem;
		& a {
			display: inline-block;
		}
	}
}