//Form
fieldset {
  border:none;
}

input {
  padding: 1em;
  border: 1px solid $light-gray;
  border-bottom: 1px solid $primary-color;
  background-color: lighten($light-gray, 7% );
  font-size: 1em;
  &:active, &:focus {
    background-color: $white;
  }
}

textarea {
  padding: 10px 15px;
  border: 1px solid $light-gray;
  border-bottom: 1px solid $primary-color;
  background-color: lighten($light-gray, 7% );
  font-size: 1em;
  &:active, &:focus {
    background-color: $white;
  }
}

button {
  outline: none;
}


.feedback-form {
  text-align: center;
  &__legend {
    margin: 1em;
  }
  &__label {
    display: block;
    margin: 1em;
  }
  &__input {
    display: block;
    margin: 0 auto;
    width: span(4);
  }
  &__textarea{
    display: block;
    margin: 0 auto;
    width: span(4);
    min-height: 75px;
  }
  &__send-btn {
    display: block;
    margin: 1em auto;
  }
}