.logo {
	background-color: $primary-transparent-color;
	height: rem-calc(260px);
	padding: 0 1rem;
	& img {
		margin: 0 auto;
	}
	& .main-logo {
		margin-top: rem-calc(90px);
	}
	& .sub-logo {
		margin-top: 2rem;
	}
}

@include susy-breakpoint($b-medium) {
	.logo {
	@include span(5);
		& img {
			margin: 0 auto;
		}
		& .main-logo {
			margin-top: rem-calc(90px);
			@include span(10);
			@include pre(1);
		}
		& .sub-logo {
			@include span(8);
			@include pre(2);
			margin-top: 2rem;
		}
}
}