.header-nav {
  list-style: none;
  width: span(3.5);
  margin-top: 2rem;
  & li {
    position: relative;
  }
  & li::before {
    content: "•";
    position: absolute;
    color: $primary-color;
    font-size: 2rem;
    line-height: 1.4;
  }
  & li a {
    display: block;
    padding: rem-calc(9px) rem-calc(20px);
    text-transform: uppercase;
    background-color: $white;
    color: $black;
    &:hover {
      background-color: $primary-color;
      color: $white;
      text-decoration: none;
      padding-left: rem-calc(25px);
      font-weight: bold;
    }
    transition: all .2s ease-in-out;
  }
}

.hor-nav {
  text-align: center;
  &__link {
    font-family: $second-font-family;
    display: inline-block;
    font-weight: 700;
    padding: 2em 1em 0 2em;
    color: $fifth-color;
    font-size: .9em;
    &:hover,
    &:active,
    &:focus {
      color: darken($fifth-color,3%);
      text-decoration: underline;
      cursor: pointer;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
