.text-logo {
  display: none;
}

@include susy-breakpoint($b-medium, 12) {
  .text-logo {
    display: block;
    @include span(3);
    position: relative;
    height: 5em;
    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}