@import "mixin";

//Global
$global-font-family: 'Open Sans', serif;
$global-font-size: 110%;
$global-line-height: 1.7;
$font-smooth: antialiased;

//Colors
$brand-palette: (
        primary: #BF382A, // primary red
        secondary: #683531, // darken red
        third: #EF7079, // lighten red
        fourth: #F7E8C3, // bege
        success: #3adb76,
        warning: #ffae00,
        alert: #ec5840
);

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #4A4A4A;
$dark-black: #1f1f1f;
$white: #fefefe;

$body-background: $white;
$body-font-color: $black;

@include add-brand-colors;

$base-spacing: 1em;

// Media q breakpoints

$b-small: 0;
$b-medium: 48em;
$b-large: 75em;
$b-xlarge: 90em;
$b-xxlarge: 100em;

$b-small-only: 0 47.9375em;
$b-medium-only: 48em 74,9375em;
$b-large-only: 75em 99,9375em;

//container width
$container-width: $b-large;

//Typography

$paragraph-lineheight: 1.7;
$paragraph-margin-bottom: 1.5em;

$header-font-family: $global-font-family;
$header-font-weight: 400;
$header-color: $body-font-color;
$header-lineheight: 1.4;
