@import "mixin";

//Global
$global-font-family: 'Roboto', serif;
$second-font-family: 'Merriweather', serif;
$global-font-size: 16px;
$global-line-height: 1.7;
$font-smooth: antialiased;

//Colors
$brand-palette: (
        primary: #CC3333,
        primary-transparent: rgba(204,51,51,.9),
        secondary: #683531,
        success: #3ADB76,
        warning: #FFAE00,
        alert: #EC5840
);

$third-color: #cc3333; // light red
$fourth-color: #F7E8C3; //bege
$fifth-color: #FCFAED; ///light bege
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #4A4A4A;
$dark-black: #1f1f1f;
$white: #fefefe;

$body-background: $white;
$body-font-color: $black;

@include add-brand-colors;

$base-spacing: 1em;

// Media q breakpoints

$b-small: 0;
$b-medium: 48em;
$b-large: 64em;
$b-xlarge: 90em;
$b-xxlarge: 100em;

$b-small-only: 0 47.9375em;
$b-medium-only: 48em 74, 9375em;
$b-large-only: 75em 99, 9375em;

//container width
$container-width: $b-large;

//Typography

$paragraph-lineheight: 1.7;
$paragraph-margin-bottom: 1.5em;

$header-font-family: 'Merriweather', sans-serif;
$header-font-weight: 400;
$header-color: $body-font-color;
$header-lineheight: 1.4;

$header-sizes: (
        small: (
                'h1': 24,
                'h2': 20,
                'h3': 19,
                'h4': 18,
                'h5': 17,
                'h6': 16,
        ),
        medium: (
                'h1': 48,
                'h2': 40,
                'h3': 31,
                'h4': 25,
                'h5': 20,
                'h6': 16,
        ),
)
