doctype html
html
	head
		title Офис оперативной печати на Пролетарской
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&subset=cyrillic")
		link(rel="stylesheet" href="style/main.min.css")
	body

		//- header
		include ./partials/header

		//- main index content
		include ./partials/main-index

		//- include site-footer
		include ./partials/footer

script(src="js/main.min.js")