*, *+* {
  box-sizing: border-box;
}

body {
  font-size: $global-font-size;
  font-family: $global-font-family;
  line-height: $global-line-height;
  background-color: $body-background;
  font-smooth: $font-smooth;
}

main {
  @include container();
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $primary-color;
  &:hover,
  &:active,
  &:focus {
    color: darken($primary-color, 15%);
    text-decoration: underline;
  }
}

// Typography resets
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

// Paragraphs
p {
  line-height: $paragraph-lineheight;
  margin-bottom: $paragraph-margin-bottom;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  color: $header-color;
  line-height: $header-lineheight;
}


hgroup {
  margin: 1.5em 0;
}

//Bloquote
blockquote {
  background: #f9f9f9;
  border-left: 3px solid $primary-color;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: $primary-color;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.2em;
}

blockquote p {
  display: inline;
}

input[type="text"],
input[type="email"] {
  padding: 10px 15px;
  border: none;
  border-bottom: 1px solid $primary-color;
  background-color: $light-gray;
  &:active, &:focus {
    background-color: $white;
  }
}

textarea {
  padding: 10px 15px;
  border: none;
  border-bottom: 1px solid $primary-color;
  background-color: $light-gray;
  &:active, &:focus {
    background-color: $white;
  }
}

button {
  border: none;
  padding: 10px 25px;
  background-color: transparent;
  text-transform: uppercase;
}

@include susy-breakpoint($b-small, 12) {
  article {
    padding: 0 1em;
  }
}

@include susy-breakpoint($b-medium, 12) {
  article {
    padding: 3em;
  }
}

@include susy-breakpoint($b-large, 12) {
}