footer#site-footer.is-black
	.l-footer
		.row
			//Footer nav
			nav.nav.footer-nav
				h3.footer-nav__header Sections
				each val in ['Home', 'Investment', 'Structure', 'Investors', 'Contacts']
					a.nav__link.footer-nav__link(href= val + ".html")= val

			//Footer office adresses
			.address-wrapper
				h3.address-wrapper__header Our Offices

				address.address.footer-address
					h3.address__header Luxenburg
					a.address__link.footer-address__link(href="#"): <i class="fi-home"></i> 127 Rue de Mühlenbach L.2168
					a.address__link.footer-address__link(href="mailto:info@heritageproperties.lu"): <i class="fi-mail"></i> info@heritageproperties.lu
					a.address__link.footer-address__link(href="tel:+352026782626"): <span class="is-accent">CALL US:</span>+352 (0) 2678 2626

				address.address.footer-address
					h3.address__header Paris
					a.address__link.footer-address__link(href="#"): <i class="fi-home"></i> 127 Rue de Mühlenbach L.2168
					a.address__link.footer-address__link(href="mailto:info@heritageproperties.lu"): <i class="fi-mail"></i> info@heritageproperties.lu
					a.address__link.footer-address__link(href="tel:+352026782626"): <span class="is-accent">CALL US:</span>+352 (0) 2678 2626

				address.address.footer-address
					h3.address__header Dusseldorf
					a.address__link.footer-address__link(href="#"): <i class="fi-home"></i> 127 Rue de Mühlenbach L.2168
					a.address__link.footer-address__link(href="mailto:info@heritageproperties.lu"): <i class="fi-mail"></i> info@heritageproperties.lu
					a.address__link.footer-address__link(href="tel:+352026782626"): <span class="is-accent">CALL US:</span>+352 (0) 2678 2626

		.row
			.terms
				h4.terms__header TERMS & CONDITIONS
				.terms__content.is-hide
					p.
						This document or website is issued and approved by Heritage Properties ( ‘Heritage Properties Fund’ ) and their respective business activities. Please note that Directors and employees of Heritage Properties may also work for Heritage Properties.
					p.
						This document or website is not directed at, or intended for, retail clients. It is not intended for distribution to, or use by, any person or entity in any jurisdiction or country where such distribution or use would be contrary to local law or regulation.
					p.
						Any material contained in this document or website has been prepared for informational purposes only without regard to any particular user's investment objectives, financial situation, or means, and Heritage Properties is not soliciting any action based upon it. This material is not to be construed as a recommendation; or an offer to buy or sell; or the solicitation of an offer to buy or sell any security, financial product, or instrument. Although this material is based upon information that Heritage Properties considers reliable and endeavors to keep current, Heritage Properties has not verified this information and does not represent that this material is accurate, current, or complete and it should not be relied upon as such.
					p.
						The fact that we have made the data and services provided on this document or website available to you constitutes neither a recommendation that you should enter into a particular transaction nor a representation that any product described on this document or website is suitable or appropriate for you. Many of the products described on this document or website involve significant risks, and you should not enter into any transactions unless you have fully understood all such risks and has independently determined that such transactions are appropriate for you.
					p.
						We shall have no liability, contingent or otherwise, to you or to third parties, or any responsibility whatsoever, for the failure of any connection or communication service to provide or maintain your access to this service, or for any interruption or disruption of such access or any erroneous communication between us and you, regardless of whether the connection or communication service is provided by us or a third party service provider. We shall have no liability, contingent or otherwise, to you or to third parties, for the correctness, quality, accuracy, timeliness, reliability, performance, continued availability, completeness or delays, omissions, or interruptions in the delivery of the data and services available on this website or for any other aspect of the performance of this service or for any failure or delay in the execution of any transactions through this service. We make no warranty whatsoever to you, express or implied, regarding the security of the site.
					p.
						This service may provide links to certain Internet websites sponsored and maintained by third parties. We make no representations concerning the content of the document or websites. The fact that we may provide a link to another website does not constitute an endorsement, authorization, sponsorship, or affiliation by us with respect to the document or website, its owners, or its providers. Your use of the products and services on this document or website may be monitored by us.