//Site header
header#site-header.is-black
	.container
		nav.nav.top-nav
			each val in ['Печати','Штампы', 'Пломбиры', 'Визитки', 'Самокопирка', 'Открытки/Брошюры', 'Таблички']
				a.top-nav__link= val
		.hero
			hgroup.hero__title
				h1 Печати.Штампы.Полиграфия
				h3 <i class="metro"></i> Пролетарская
		.contacts
			a(href='#') <i class="point"></i> ул. 1-я Дубровская, д. 1, корп. 2
			a(href='tel:+79684335358')<i class="phone"></i> +7 (495) 123-6553; +7 (968) 433-53-58
			a(href='mailto:proletarka2004@yandex.ru')<i class="email"></i> proletarka2004@yandex.ru