//hero
.l-hero
	.hero__title
		h2.hero__title__h2 Real Estate
		h1.hero__title__h1 Venture Capital
		img(src="img/assets/decor.png").hero__title__img
	.hero__slider
		ul#slides
			li: img(src="img/assets/header_slider_2.jpg")
			li.slides__item.is-showing: img(src="img/assets/header_slider_2.jpg")
			li.slides__item: img(src="img/assets/header_slider_1.jpg")
			li.slides__item: img(src="img/assets/header_slider_2.jpg")
			li.slides__item: img(src="img/assets/header_slider_1.jpg")
	.header-hero__slider-mob
		img(src="img/assets/header_mob.jpg")
//End site header