main#site-main.investors-bg
	.container
		h3 Heritage Properties Fund seeks to build long term relationships with its investors. This can only be achieved by maintaining a disciplined approach to investing and keeping to the core objectives of the firm «D.C.A.T Philosophy»

		//card with image and text block
		.card.clearfix
			.card-img.card-small__left
				img(src="//fillmurray.com/g/300/300" alt="investors")
			.card-content.card-large__right
				h2.card-content__header Differentiation
				p.card-content__text.
					Heritage Properties Fund seeks to generate outsized absolute returns for its investors through its differentiated investment strategy.

		//card with image and text block
		.card.clearfix
			.card-content.card-large__left
				h2.card-content__header Capital Preservation
				p.card-content__text.
					Preservation of capital is key and Heritage Properties Fund spends a significant amount of time understanding the downside risk and break even positions for all potential investments.
			.card-img.card-small__right
				img(src="//fillmurray.com/g/300/300" alt="investors")

		//card with image and text block
		.card.clearfix
			.card-img.card-small__left
				img(src="//fillmurray.com/g/300/300" alt="investors")
			.card-content.card-large__right
				h2.card-content__header Aligned Interests
				p.card-content__text.
					Heritage Properties Fund co-invests in all its funds. Heritage Properties Fund 's local operating partners also materially co-invest in each transaction, providing strong alignments through to investors in Heritage Properties funds.

		//card with image and text block
		.card.clearfix
			.card-content.card-large__left
				h2.card-content__header Capital Preservation
				p.card-content__text.
					Preservation of capital is key and Heritage Properties Fund spends a significant amount of time understanding the downside risk and break even positions for all potential investments.
			.card-img.card-small__right
				img(src="//fillmurray.com/g/300/300" alt="investors")

		blockquote.quote-m
			p.
				«A Passion to Perform. This is our committment when we do business»