//Site main content
main#site-main.is-light-gray-bg
	.container.l-card-holder
		-
			var catVar = [
			['Печати','Изготовление печатей и штампов из полимера и резины.','gal-stamp.svg','stamp'],
			['Штампы','Изготовление штампов из полимера и резины.', 'gal-stamp2.svg'],
			['Визитки','Цифровая и офсетная печати, шелкография, тиснение, конгрев.', 'gal-vis.svg'],
			['Пломбиры','Гравировка на меттале','gal-plombir.svg'],
			['Пломбираторы','Односторонние и двухсторонние','gal-plombirator.svg'],
			['Самокопирка','Двух и трехслойная, офсетная печать.', 'gal-samokopirka.svg'],
			['Открытки и Брошюры','Изготовление от одной штуки.', 'gal-otkritki.svg'],
			['Таблички','Графировка на пластике, накатка на пластик.', 'gal-tables.svg'],
			['Доставка','по Москве', 'gal-delivery.svg']];

		- for (var i = 0; i < catVal.Lengh(); i++) {
		-	var catItem = catVal[i]
				each val in catItem
					.div.cat-card
						a(href=catItem[3] + ".html")
							img.cat-card__img(src="../img/assets/" + catItem[2])
						.cat-card__text
							h2 #{catItem[0]}
							p #{catItem[1]}
		- }

		//.div.cat-card
		//	a(href="#")
		//		img.cat-card__img(src="../img/assets/gal-stamp.svg")
		//		.cat-card__text
		//			h2 Печати
		//			p Изготовление печатей и штампов из полимера и резины.
		//.div.cat-card
		//	a(href="#")
		//	img.cat-card__img(src="../img/assets/gal-stamp2.svg")
		//	.cat-card__text
		//		h2 Штампы
		//		p Изготовление штампов из полимера и резины.
		//.div.cat-card
		//	a(href="#")
		//	img.cat-card__img(src="../img/assets/gal-vis.svg")
		//	.cat-card__text
		//		h2 Визитки
		//		p Цифровая и офсетная печати, шелкография, тиснение, конгрев.
		//.div.cat-card
		//	a(href="#")
		//	img.cat-card__img(src="../img/assets/gal-plombir.svg")
		//	.cat-card__text
		//		h2 Пломбиры
		//		p Гравировка на меттале
		//.div.cat-card
		//	a(href="#")
		//	img.cat-card__img(src="../img/assets/gal-plombirator.svg")
		//	.cat-card__text
		//		h2 Пломбираторы
		//		p Односторонние и двухсторонние
		//.div.cat-card
		//	a(href="#")
		//	img.cat-card__img(src="../img/assets/gal-samokopirka.svg")
		//	.cat-card__text
		//		h2 Самокопирка
		//		p Двух и трехслойная, офсетная печать.
		//.div.cat-card
		//	a(href="#")
		//	img.cat-card__img(src="../img/assets/gal-otkritki.svg")
		//	.cat-card__text
		//		h2 Открытки и Брошюры
		//		p Изготовление от одной штуки.
		//.div.cat-card
		//	a(href="#")
		//	img.cat-card__img(src="../img/assets/gal-tables.svg")
		//	.cat-card__text
		//		h2 Таблички
		//		p Графировка на пластике, накатка на пластик.
		//.div.cat-card
		//	a(href="#")
		//	img.cat-card__img(src="../img/assets/gal-delivery.svg")
		//	.cat-card__text
		//		h2 Доставка
		//		p по Москве

	.fidback.is-white
		.container
			form
	//End site main