//Site main content
main#site-main
	.row
		article.article
			hgroup.article__hgroup
				h1.hgroup-h1 Who is Heritage Properties Fund
			.article__content
				.left-col
					dl.dl-index
						dt History
						dd Founded in 2004, Heritage Properties Fund is a leading European investor that targets small and medium sized real estate co-investment opportunities.

						dt  Locations
						dd  Headquartered in Luxembourg, with offices in Paris, Dusseldorf and Zurich, Heritage Properties Fund has a team of 10 focused on generating superior risk adjusted returns.

						dt Experience
						dd Drawing on over 10 years experience in property development between us, we have a proven track record of finding seemingly unattractive propositions, planning effective and marketable solutions and executing those plans. The result is previously under, performing assets being transformed into highly profitable ventures where both tenants and investors benefit.

				.right-col
					dl.dl-index
						dt Co-invests
						dd Heritage Properties Fund co-invests in joint ventures with proven local operating partners. The firm has an established network of more than 30 existing joint venture partners and has transacted across the Switzerland and northern and western Europe in over 90 individual investments.

						dt Investments
						dd Heritage Properties Fund currently has investments in European real estate valued in excess of €1.5 billion.

						dt Network
						dd Heritage Properties Fund is made up of the following companies, and an extensive network of joint ventures with leading national and international development companies.

	//End site main